*{
    margin: 0;
    padding: 0;
    font-family: monospace;   
}
:root{
    --colorBtn: #4B1821;

    --colorBorder: #a32738;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/backgroundLOL.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    height: 90%;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.containerBox{
    width: 90%;
    height: 90%;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 35px 7px 35px 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border: 1px solid var(--colorBorder);

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTile{
    width: 70%;
    height: 80px;
    padding: 10px;


    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTile h1{
    font-size: 30px;
    font-weight: 600;
}

.containerNomeCategoria{
    width: 70%;
    height: 80px;
    padding: 10px;
    margin-top: 5%;


    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;

}
.nomeCat{
    font-size: 20px;
    font-weight: 600;
}
#nomeCat{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #33404D;
    /* padding-left: 10px; */
    font-size: 20px;
    font-weight: 600;
    outline: none;    
}

.containerBtn{
    width: 70%;
    height: 350px;
    padding: 10px;

    display: flex;
    align-items: end;
    justify-content: space-between;
}
.voltarBtn{
    width: 200px;
    height: 40px;
    background-color: var(--colorBtn);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cadastroCategoriaBtn{
    width: 200px;
    height: 40px;
    background-color: var(--colorBtn);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}