*{
    margin: 0;
    padding: 0;
    font-family: monospace;   
}

:root{
    --colorBtn: #4B1821;

    --colorBorder: #a32738;
}


body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/backgroundLOL.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBox{
    width: 90%;
    height: 90%;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 35px 7px 35px 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border: 1px solid var(--colorBorder);

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerOrganizacional{
    width: 90%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3%;
}

.containerTitulo, .containerCategoria{
    width: 70%;
    height: 80px;
    padding: 10px;

    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.containerTitulo h1{
    font-size: 20px;
    color: white;
}
.containerDesc h1{
    font-size: 20px;
    color: white;

}
.containerCategoria h1{
    font-size: 20px;
    color: white;

}

.containerDesc{
    width: 70%;
    height: 350px;
    padding: 10px;

    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.respostaDesc{
    width: 100%;
    height: 300px;
    border: 1px solid #33404D;
    font-size: 20px;
    font-weight: 300;
    outline: none;   
    box-sizing: border-box; 
    
    background-color: white;
}

.resposta{
    width: 100%; 
    height: 40px; 
    border-radius: 10px;
    border: 1px solid #33404D;
    font-size: 20px;
    font-weight: 300;
    outline: none;   
    box-sizing: border-box; 
    
    display: flex;
    align-items: center;
    background-color: white;
}

.containerRoletar{
    width: 70%;
    height: 80px;
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerRoletar form{
    width: 100%;
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.BtnRoletar, .BtnVoltar{
    width: 200px;
    height: 40px;
    background-color: var(--colorBtn);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
